.annotate {
  font-style: italic;
  color: #366ed4;
}
.grid2Label {
	text-align: center;
	color : #366ed4;
}

.sortableDataGrid {
  display:flex;
  flex-wrap: wrap;
	width : max-content;
	margin: 0 auto;
}
.sortableDataGrid:after {
  flex: auto;
  content:'';
  flex-grow: 100;
}

.hidden {
  display: none !important;
}
@media screen and (max-width: 1000px) {
  #arrow-keys-indicator {
    display: none;
  }
}