.annotate {
  font-style: italic;
  color: #366ed4;
}
.grid2Label {
	text-align: center;
	color : #366ed4;
}

.sortableDataGrid {
  display:flex;
  flex-wrap: wrap;
	width : 1000px;
	margin: 50px auto;
	margin-bottom : 200px;
}
.sortableDataGrid:after {
  flex: auto;
  content:'';
	flex-grow: 0.01;
}

.hidden {
  display: none !important;
}
@media screen and (max-width: 1000px) {
  #arrow-keys-indicator {
    display: none;
  }
}
.toggle_column_btn {
		margin-left : 20%;
}