.gridCell {
	width : 100%;
  padding: 15px 30px;
	font-weight: 500;
	box-sizing: border-box;
	border-bottom :1px solid #a7abad ;
}
.gridCell[header="true"] {
	font-weight: 800;
}

.gridCell a{
	color : rgb(19, 145, 19);
	text-decoration: none;
}
.gridCell a:hover {
	color : #000;
}
.gridCell:focus,
.gridCell *:focus,
[role="grid"] [tabindex="0"]:focus {
  outline: #005a9c;
  outline-style: dotted;
  outline-width: 3px;
}
.edit-text-button {
  color: #360;
  display: block;
  position: relative;
}

.edit-text-button::after {
  background-image: url('./images/pencil-icon.png');
	transform: scale(0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  content: ' ';
  height: 25px;
  opacity: 0.6;
  position: absolute;
  right: -40px;
  top: 0;
  width: 26px;
	cursor: pointer;
}
.edit-text-button:hover,
.edit-text-button:focus {
  color: black;
}

.edit-text-button:hover::after,
.edit-text-button:focus::after {
  opacity: 1;
}
.hidden {
  display: none !important;
}